@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  background-color: #242333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.movie-container {
  margin: 2rem 0;

  label {
    font-size: 1.6rem;
  }

  select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 1.4rem;
    margin-left: 1rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
}

.showcase {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  color: #777;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
  }

  small {
    margin-left: 2px;
  }

  & .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }
}

.text {
  font-size: 1.6rem;
  // margin-top: 1.5rem;

  span {
    color: #6feaf6;
  }
}

.seat {
  background-color: #444451;
  height: 1.2rem;
  width: 1.5rem;
  margin: 0.3rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  &:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  &.selected {
    background-color: #6feaf6;
  }

  &.occupied {
    background-color: #fff;
  }

  &:nth-of-type(2) {
    margin-right: 1.8rem;
  }

  &:nth-last-of-type(2) {
    margin-left: 1.8rem;
  }
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 7rem;
  width: 100%;
  margin: 1.5rem 0;
  transform: rotateX(-45deg);
  box-shadow: 0 0.3rem 1rem rgba($color: #fff, $alpha: 0.7);
}

.container {
  perspective: 1000px;
  margin-bottom: 3rem;
}
